<div class="bg">
    <div class="pageContainer">
        <header>
            <div class="logoDiv valign-wrapper">
                <h1 class="center-align" id="LogoContact">GRAFIK ROBOTO</h1>
            </div>
        </header>
        <main>
            <div id="contactBox">
                <h2 id="contactHeader">Send us a message</h2>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Full Name</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">phone</i>
                                <input id="icon_telephone" type="tel" class="validate">
                                <label for="icon_telephone">Phone Number</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="icon_email" type="email" class="validate">
                                <label for="icon_email">Email</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10 offset-s1">
                                <textarea id="messageBox" class="materialize-textarea"></textarea>
                                <label for="messageBox">Leave a message</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <a class="col s6 offset-s3 waves-effect waves-light btn" id="submitMessageBtn">
                        <i class="material-icons left">add_circle_outline</i>Send</a>
                </div>
            </div>
            <div class="extrasBox hidden" id="loadingDiv">
                <img class="loadingGif" src="/images/static/loading.gif" alt="">
            </div>
            <div class="extrasBox hidden" id="thanksDiv">
                <h4 class="extrasItems cyan-text">Thanks!</h4>
                <h5 class="extrasItems">Your message has been sent.</h5>
                <h5 class="extrasItems">Return Home </h5><a href="/index"><i
                        class="material-icons extrasIco">home</i></a>
            </div>
            <div class="extrasBox hidden" id="errorDiv">
                <h4 class="extrasItems cyan-text">Something went wrong!</h4>
                <h5 class="extrasItems">Your message did not go through, please try again later or report it.
                </h5>
                <div class="row">
                    <div class="col s6">
                        <h5 class="extrasItems text-lighten-2">Return Home </h5><a href="/index"><i
                                class="material-icons extrasIco">home</i></a>
                    </div>
                    <div class="col s6">
                        <h5 class="extrasItems text-lighten-2">Report Error </h5><a href="/reportIssue"><i
                                class="material-icons extrasIco">error</i></a>
                    </div>
                </div>
            </div>
            <div class="extrasBox returnHomeBox">
                <a href="./index.html">
                    <h5 class="extrasItems returnHome valign-wrapper">
                        Return Home<i class="material-icons extrasIco returnHomeIco">home</i>
                    </h5>
                </a>
            </div>
            <div id="ourContact">
                <h4 id="ourContactText">Or contact us at:</h4>
                <hr width="50%">
                <div class="row">
                    <div class="col s12 ourInfo">
                        <h5><i class="material-icons" style="margin: auto 10px;">local_phone</i>916-730-1571</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ourInfo">
                        <h5><i class="material-icons" style="margin: auto 10px;">email</i>Grafikroboto@yahoo.com
                        </h5>
                    </div>
                </div>
                <div class="row l6">
                    <div class="col s12">
                        <a href="https://www.facebook.com/grafikroboto/" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com/grafik_roboto/" target="_blank" class="fa fa-instagram"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 ourInfo">
                        <h5>@Grafik_roboto</h5>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>