<div class="pageContainer">
    <div class="parallax-container valign-wrapper center-align">
        <h1 id="LogoIndex">GRAFIK ROBOTO</h1>
        <div class="parallax"><img class="parallaxImg" src="/images/static/top_parallax.jpg"></div>
    </div>

    <div id="mainContainer">
        <h1 id="shopText">Shop</h1>
        <ul class="collapsible popout expandable" data-collapsible="accordion">
            <li>


                {{!-- STANDARD --}}
                <div class="collapsible-header"><i class="material-icons collapseHeadText">camera</i>
                    <div class="collapseHeadText">Standard</div>
                </div>
                <div class="collapsible-body">
                    <span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>
                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Standard/StandardBlack.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Black</h4>
                                <h4 class="center-align itemDescription">Standard black</h4>
                                <h6 class="center-align itemName">$1.00 per 2x7</h6>
                                <h6 class="center-align itemName">$1.50 per 3x8</h6>
                                <h6 class="center-align itemName">$2.00 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Standard/StandardWhite.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">White</h4>
                                <h4 class="center-align itemDescription">Standard white</h4>
                                <h6 class="center-align itemName">$1.00 per 2x7</h6>
                                <h6 class="center-align itemName">$1.50 per 3x8</h6>
                                <h6 class="center-align itemName">$2.00 per 4x9</h6>
                            </div>
                        </div>
                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <div class="row">

                                <!-- === PRODUCT === -->
                                <div class="row">
                                    <div class="input-field col s12 l6">
                                        <select id="standardProductSelect">
                                            <option value="" disabled selected>Choose your product</option>
                                            <option value="Black">Black</option>
                                            <option value="White">White</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Product</label>
                                    </div>

                                    <!-- === SIZE === -->
                                    <div class="input-field col s12 l6">
                                        <select id="standardSizeSelect">
                                            <option value="" disabled selected>Choose your size</option>
                                            <option value="2x7">2in x 7in</option>
                                            <option value="3x8">3in x 8in</option>
                                            <option value="4x9">4in x 9in</option>
                                            <option value="other">Custom (Price inquiry w/ owner)</option>
                                        </select>
                                        <label class="inputLabel">Select Size</label>
                                    </div>
                                </div>
                            </div>

                            <!-- === QUANTITY === -->
                            <div class="row">
                                <div class="input-field col s12 l8 offset-l2">
                                    <select id="standardQuantitySelect">
                                        <option value="" disabled selected>Choose your quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                    </select>
                                    <label class="inputLabel center-align">Select Quantity</label>
                                </div>
                            </div>

                            <!-- === UPLOAD DESIGN === -->
                            <h4 class="uploadImgText center-align">Link
                                your design</h4>
                            <h6 class="center-align" id="uploadDirections">Image file
                                specifications will
                                go here</h6>
                            <hr width="40%">
                            <div class="row">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" id="standardLinkImage">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <a class="col s12 waves-effect waves-light btn" id="submitStandardBtn">
                                    <i class="material-icons left">add_circle_outline</i>SUBMIT ORDER</a>
                            </div>
                    </span>
                </div>
            </li>
            <li>


                {{!-- PREMIUM --}}
                <div class="collapsible-header"><i class="material-icons collapseHeadText">new_releases</i>
                    <div class="collapseHeadText">Premium</div>
                </div>
                <div class="collapsible-body pcarousel">
                    <span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>
                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/HolographicBlue.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Holographic Blue</h4>
                                <h4 class="center-align itemDescription">Blue/silver 3D effect</h4>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/HolographicRed.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Holographic Red</h4>
                                <h4 class="center-align itemDescription">Red/purple 3D effect</h4>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/Chrome.jpg" class="responsive-img materialboxed"
                                    alt="">
                                <h4 class="center-align itemName">Chrome</h4>
                                <h4 class="center-align itemDescription">Chrome finish</h4>
                                <h6 class="center-align itemName">$2.00 per 2x7</h6>
                                <h6 class="center-align itemName">$2.50 per 3x8</h6>
                                <h6 class="center-align itemName">$3.00 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/Gold.jpg" class="responsive-img materialboxed"
                                    alt="">
                                <h4 class="center-align itemName">Gold</h4>
                                <h4 class="center-align itemDescription">Golden finish</h4>
                                <h6 class="center-align itemName">$2.00 per 2x7</h6>
                                <h6 class="center-align itemName">$2.50 per 3x8</h6>
                                <h6 class="center-align itemName">$3.00 per 4x9</h6>
                            </div>
                        </div>
                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <div class="row">

                                <!-- === PRODUCT === -->
                                <div class="row">
                                    <div class="input-field col s12 l6">
                                        <select id="premiumProductSelect">
                                            <option value="" disabled selected>Choose your product</option>
                                            <option value="HolographicBlue">Holographic Blue</option>
                                            <option value="HolographicRed">Holographic Red</option>
                                            <option value="Chrome">Chrome</option>
                                            <option value="Gold">Gold</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Product</label>
                                    </div>


                                    <!-- === SIZE === -->
                                    <div class="input-field col s12 l6">
                                        <select id="premiumSizeSelect">
                                            <option value="" disabled selected>Choose your size</option>
                                            <option value="2x7">2in x 7in</option>
                                            <option value="3x8">3in x 8in</option>
                                            <option value="4x9">4in x 9in</option>
                                            <option value="other">Custom (Price inquiry w/ owner)</option>
                                        </select>
                                        <label class="inputLabel">Select Size</label>
                                    </div>
                                </div>
                            </div>

                            <!-- === QUANTITY === -->
                            <div class="row">
                                <div class="input-field col s12 l8 offset-l2">
                                    <select id="premiumQuantitySelect">
                                        <option value="" disabled selected>Choose your quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="25">30</option>
                                    </select>
                                    <label class="inputLabel center-align">Select Quantity</label>
                                </div>
                            </div>

                            <!-- === UPLOAD DESIGN === -->
                            <h4 class="uploadImgText center-align">Link
                                your design</h4>
                            <h6 class="center-align" id="uploadDirections">Image file
                                specifications will
                                go here</h6>
                            <hr width="40%">
                            <div class="row">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" id="premiumLinkImage">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <a class="col s12 waves-effect waves-light btn" id="submitPremiumBtn">
                                    <i class="material-icons left">add_circle_outline</i>SUBMIT ORDER</a>
                            </div>
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons collapseHeadText">whatshot</i>
                    <div class="collapseHeadText">In House</div>
                </div>
                <div class="collapsible-body"><span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>
                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/static/loadingLife.jpg" class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">House 1</h4>
                                <h4 class="center-align itemDescription">Sicc Grafik Roboto design 1</h4>
                                <h6 class="center-align itemName">$5.00 each</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/static/loadingLife.jpg" class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">House 2</h4>
                                <h4 class="center-align itemDescription">Sicc Grafik Roboto design 1</h4>
                                <h6 class="center-align itemName">$5.00 each</h6>
                            </div>
                        </div>

                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <div class="row">

                                <!-- === PRODUCT === -->
                                <div class="row">
                                    <div class="input-field col s12 l6">
                                        <select id="houseProductSelect">
                                            <option value="" disabled selected>Choose your product</option>
                                            <option value="House1">House 1</option>
                                            <option value="House2">House 2</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Product</label>
                                    </div>

                                    <!-- === SIZE === -->
                                    <div class="input-field col s12 l6">
                                        <select id="houseSizeSelect">
                                            <option value="" disabled selected>Choose your size</option>
                                            <option value="2x7">2in x 7in</option>
                                            <option value="3x8">3in x 8in</option>
                                            <option value="4x9">4in x 9in</option>
                                            <option value="other">Custom (Price inquiry w/ owner)</option>
                                        </select>
                                        <label class="inputLabel">Select Size</label>
                                    </div>
                                </div>
                            </div>

                            <!-- === QUANTITY === -->
                            <div class="row">
                                <div class="input-field col s12 l8 offset-l2">
                                    <select id="houseQuantitySelect">
                                        <option value="" disabled selected>Choose your quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="25">30</option>
                                    </select>
                                    <label class="inputLabel center-align">Select Quantity</label>
                                </div>
                            </div>

                            <!-- === UPLOAD DESIGN === -->
                            <h4 class="uploadImgText center-align">Link
                                your design</h4>
                            <h6 class="center-align" id="uploadDirections">Image file
                                specifications will
                                go here</h6>
                            <hr width="40%">
                            <div class="row">
                                <form action="#">
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" id="houseLinkImage">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <a class="col s12 waves-effect waves-light btn" id="submitHouseBtn">
                                    <i class="material-icons left">add_circle_outline</i>SUBMIT ORDER</a>
                            </div>
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header" id="orangeCollapsible"><i
                        class="material-icons collapseHeadText placeOrderCollapsible">add_circle_outline</i>
                    <div class="collapseHeadText placeOrderCollapsible">Cart</div>
                </div>
                <div class="collapsible-body"><span>
                        <h1 class="center-align placeOrderText">Cart</h1>
                        <div class="placeOrderContainer">
                            <div class="cartDiv">
                            </div>
                            <div class="orderUserInfo hidden">
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="first_name" type="text" class="validate">
                                                <label for="first_name" class="orderInputLabels">First Name</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="last_name" type="text" class="validate">
                                                <label for="last_name" class="orderInputLabels">Last Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="icon_telephone" type="tel" class="validate">
                                                <label for="icon_telephone" class="orderInputLabels">Telephone</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" class="validate">
                                                <label for="email" class="orderInputLabels">Email</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <input id="city" type="text" class="validate">
                                                <label for="city" class="orderInputLabels">City</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input id="state" type="text" class="validate">
                                                <label for="state" class="orderInputLabels">State</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="address" type="text" class="validate">
                                                <label for="address" class="orderInputLabels">Shipping
                                                    address</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="zip_code" type="tel" class="validate">
                                                <label for="zip_code" class="orderInputLabels">Zip code</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <a class="col s12 waves-effect waves-light btn" id="submitOrderBtn">
                                        <i class="material-icons left">add_circle_outline</i>SUBMIT ORDER</a>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="parallax-container valign-wrapper center-align">
        <div class="center-align" id="contactBox">
            <h3>For all inquiries and issues:</h3>
            <div class="row">
                <div class="col s12 l12">
                    <h5>Contact Us: </h5><a href="/contact"><i class="material-icons contactBoxIco">email</i></a>
                    <h5>Report an issue: </h5><a href="/reportIssue"><i
                            class="material-icons contactBoxIco">report_problem</i></a>
                </div>
            </div>
        </div>
        <div class="parallax"><img class="parallaxImg" src="/images/static/bottom_parallax.jpg">
        </div>
    </div>
</div>