<div class="pageContainer">
    <div class="parallax-container valign-wrapper center-align">
        <h1 id="LogoIndex">GRAFIK ROBOTO</h1>
        <div class="parallax"><img class="parallaxImg" src="/images/static/top_parallax.jpg"></div>
    </div>

    <!-- Modal Structure -->
    <div id="addedModal" class="modal">
        <div class="modal-content">
            <h4 id="modalItem" class="orange-text"></h4>
            <h5>added to cart!</h5>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat orange-text">Okay</a>
        </div>
    </div>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <h4>Please fill out all inputs</h3>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat orange-text">Okay</a>
        </div>
    </div>
    <div id="customModal" class="modal">
        <div class="modal-content">
            <div id="customModalInputDiv">
                <h4>Please give us all details about your custom concept in the box below</h4>
                <h5>We will get back to you asap</h5>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="customPrefix" type="text" class="validate">
                                <label for="customPrefix">Full Name</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">phone</i>
                                <input id="customTelephone" type="tel" class="validate">
                                <label for="customTelephone">Phone Number</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="customType" type="text" class="validate">
                                <label for="customType" style="center-align">Product type</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="customQuantity" type="tel" class="validate">
                                <label for="customQuantity" style="center-align">Quantity</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="customEmail" type="email" class="validate">
                                <label for="customEmail" style="center-align">Email</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="customModalTextArea" class="materialize-textarea"></textarea>
                                <label for="customModalTextArea">Place inquiry here</label>
                            </div>
                        </div>
                    </form>
                </div>
                <a href="#!" class="waves-effect waves-green btn-flat orange-text" id="customMessageSend">Send
                    Inquiry</a>
            </div>
            <div id="customModalSuccessDiv" class="hidden">
                <h4>Your message has been sent!</h4>
                <h5 class="orange-text">Please allow 1 business day for a quote</h5>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat orange-text"
                    id="customModalClose">Okay</a>
            </div>
            <div id="customModalErrorDiv" class="hidden">
                <h4>Your message was not sent!</h4>
                <h5 class="orange-text">Please report your error or try again</h5>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat orange-text"
                    id="customModalClose">Return</a>
                <a href="/reportIssue" class="waves-effect waves-red btn-flat red-text">Report</a>
            </div>
        </div>
    </div>

    <div id="mainContainer">
        <h1 id="shopText">Shop</h1>
        <ul class="collapsible popout expandable" data-collapsible="accordion">
            <li>


                {{!-- STANDARD --}}
                <div class="collapsible-header"><i class="material-icons collapseHeadText">camera</i>
                    <div class="collapseHeadText">Standard</div>
                </div>
                <div class="collapsible-body">
                    <span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>

                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Standard/StandardBlack.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Black</h4>
                                <h5 class="center-align itemDescription">Standard black</h5>
                                <h6 class="center-align itemName">$1.00 per 2x7</h6>
                                <h6 class="center-align itemName">$1.50 per 3x8</h6>
                                <h6 class="center-align itemName">$2.00 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Standard/StandardWhite.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">White</h4>
                                <h5 class="center-align itemDescription">Standard white</h5>
                                <h6 class="center-align itemName">$1.00 per 2x7</h6>
                                <h6 class="center-align itemName">$1.50 per 3x8</h6>
                                <h6 class="center-align itemName">$2.00 per 4x9</h6>
                            </div>
                        </div>
                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <form>
                                <div class="row">

                                    <!-- === PRODUCT === -->
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <select id="standardProductSelect" class="required">
                                                <option value="" selected>Choose your product</option>
                                                <option value="Standard Black">Black</option>
                                                <option value="Standard White">White</option>
                                            </select>
                                            <label class="inputLabel center-align">Select Product</label>
                                        </div>

                                        <!-- === SIZE === -->
                                        <div class="input-field col s12 l6">
                                            <select id="standardSizeSelect" class="required">
                                                <option value="" selected>Choose your size</option>
                                                <option value="2x7-1.00">2in x 7in</option>
                                                <option value="3x8-1.50">3in x 8in</option>
                                                <option value="4x9-2.00">4in x 9in</option>
                                                <option value="Custom-0.00">Custom (Price inquiry w/ owner)</option>
                                            </select>
                                            <label class="inputLabel">Select Size</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- === QUANTITY === -->
                                <div class="row">
                                    <div class="input-field col s12 l8 offset-l2">
                                        <select id="standardQuantitySelect">
                                            <option value="" selected>Choose your quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="30">30</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Quantity</label>
                                    </div>
                                </div>

                                <!-- === UPLOAD DESIGN === -->
                                <h4 class="uploadImgText center-align">Link
                                    your design</h4>
                                <h6 class="center-align" id="uploadDirections">Image file
                                    specifications will
                                    go here</h6>
                                <hr width="40%">
                                <div class="row">
                                    <form action="#">
                                        <div class="file-field input-field">
                                            <div class="btn linkImgBtns">
                                                <span>File</span>
                                                <input data-type="standard" class="linkImgBtns linkImage"
                                                    id="standardLinkImage" type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col s12 center-align" class="image-preview" class="imagePreview">
                                    <img src="" alt="Image Preview" class="standardImage-preview__image hidden">
                                </div>
                                <div class="row">
                                    <a data-type="standard"
                                        class="col s12 waves-effect waves-light btn addToCart addToCartFile"
                                        id="submitStandardBtn">
                                        <i class="material-icons left">add_shopping_cart</i>Add to cart</a>
                                </div>
                            </form>
                        </div>

                    </span>
                </div>
            </li>
            <li>


                {{!-- PREMIUM --}}
                <div class="collapsible-header"><i class="material-icons collapseHeadText">new_releases</i>
                    <div class="collapseHeadText">Premium</div>
                </div>
                <div class="collapsible-body pcarousel">
                    <span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>
                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/HolographicBlue.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Holographic Blue</h4>
                                <h5 class="center-align itemDescription">Blue/silver 3D effect</h5>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/HolographicRed.jpg"
                                    class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">Holographic Red</h4>
                                <h5 class="center-align itemDescription">Red/purple 3D effect</h5>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/Chrome.jpg" class="responsive-img materialboxed"
                                    alt="">
                                <h4 class="center-align itemName">Chrome</h4>
                                <h5 class="center-align itemDescription">Chrome finish</h5>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/Products/Premium/Gold.jpg" class="responsive-img materialboxed"
                                    alt="">
                                <h4 class="center-align itemName">Gold</h4>
                                <h5 class="center-align itemDescription">Golden finish</h5>
                                <h6 class="center-align itemName">$1.50 per 2x7</h6>
                                <h6 class="center-align itemName">$2.00 per 3x8</h6>
                                <h6 class="center-align itemName">$2.50 per 4x9</h6>
                            </div>
                        </div>
                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <form>
                                <div class="row">

                                    <!-- === PRODUCT === -->
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <select id="premiumProductSelect">
                                                <option value="" selected>Choose your product</option>
                                                <option value="Holographic Blue">Holographic Blue</option>
                                                <option value="Holographic Red">Holographic Red</option>
                                                <option value="Chrome">Chrome</option>
                                                <option value="Gold">Gold</option>
                                            </select>
                                            <label class="inputLabel center-align">Select Product</label>
                                        </div>


                                        <!-- === SIZE === -->
                                        <div class="input-field col s12 l6">
                                            <select id="premiumSizeSelect">
                                                <option value="" selected>Choose your size</option>
                                                <option value="2x7-1.50">2in x 7in</option>
                                                <option value="3x8-2.00">3in x 8in</option>
                                                <option value="4x9-2.50">4in x 9in</option>
                                                <option value="Custom-0.00">Custom (Price inquiry w/ owner)</option>
                                            </select>
                                            <label class="inputLabel">Select Size</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- === QUANTITY === -->
                                <div class="row">
                                    <div class="input-field col s12 l8 offset-l2">
                                        <select id="premiumQuantitySelect">
                                            <option value="" selected>Choose your quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="25">30</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Quantity</label>
                                    </div>
                                </div>

                                <!-- === UPLOAD DESIGN === -->
                                <h4 class="uploadImgText center-align">Link
                                    your design</h4>
                                <h6 class="center-align" id="uploadDirections">Image file
                                    specifications will
                                    go here</h6>
                                <hr width="40%">
                                <div class="row">
                                    <div class="col s12">
                                        <form action="#">
                                            <div class="file-field input-field">
                                                <div class="btn linkImgBtns">
                                                    <span>File</span>
                                                    <input type="file" class="linkImgBtns linkImage"
                                                        id="premiumLinkImage">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col s12 center-align" class="image-preview" id="premiumImagePreview">
                                        <img data-type="standard" src="" alt="Image Preview"
                                            class="premiumImage-preview__image hidden">
                                    </div>
                                </div>
                                <div class="row">
                                    <a data-type="premium"
                                        class="col s12 waves-effect waves-light btn addToCart addToCartFile modal-trigger"
                                        href="#addedModal" id="submitPremiumBtn">
                                        <i class="material-icons left">add_shopping_cart</i>SUBMIT ORDER</a>
                                </div>
                            </form>
                        </div>
                    </span>
                </div>
            </li>
            <li>

                {{!-- IN HOUSE --}}
                <div class="collapsible-header"><i class="material-icons collapseHeadText">whatshot</i>
                    <div class="collapseHeadText">In House</div>
                </div>
                <div class="collapsible-body"><span>
                        <h4 class="placeOrderText center-align">Items</h4>
                        <hr>
                        <div class="row productRow">
                            <div class="col s12 m6 l4 product">
                                <img src="/images/static/loadingLife.jpg" class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">House 1</h4>
                                <h5 class="center-align itemDescription">Sicc Grafik Roboto design 1</h5>
                                <h6 class="center-align itemName">$5.00 each</h6>
                            </div>
                            <div class="col s12 m6 l4 product">
                                <img src="/images/static/loadingLife.jpg" class="responsive-img materialboxed" alt="">
                                <h4 class="center-align itemName">House 2</h4>
                                <h5 class="center-align itemDescription">Sicc Grafik Roboto design 1</h5>
                                <h6 class="center-align itemName">$5.00 each</h6>
                            </div>
                        </div>

                        <div class="placeOrderContainer">
                            <h1 class="center-align placeOrderText">Place order</h1>
                            <form>

                                <div class="row">

                                    <!-- === PRODUCT === -->
                                    <div class="row">
                                        <div class="input-field col s12 l6">
                                            <select id="houseProductSelect">
                                                <option value="" selected>Choose your product</option>
                                                <option value="House1">House 1</option>
                                                <option value="House2">House 2</option>
                                            </select>
                                            <label class="inputLabel center-align">Select Product</label>
                                        </div>

                                        <!-- === SIZE === -->
                                        <div class="input-field col s12 l6">
                                            <select id="houseSizeSelect">
                                                <option value="" selected>Choose your size</option>
                                                <option value="2x7-5.00">2in x 7in</option>
                                                <option value="3x8-5.00">3in x 8in</option>
                                                <option value="4x9-5.00">4in x 9in</option>
                                                <option value="Custom-0.00">Custom (Price inquiry w/ owner)</option>
                                            </select>
                                            <label class="inputLabel">Select Size</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- === QUANTITY === -->
                                <div class="row">
                                    <div class="input-field col s12 l8 offset-l2">
                                        <select id="houseQuantitySelect">
                                            <option value="" selected>Choose your quantity</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="25">30</option>
                                        </select>
                                        <label class="inputLabel center-align">Select Quantity</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <a data-type="house"
                                        class="col s12 waves-effect waves-light btn addToCart modal-trigger"
                                        href="#addedModal" id="submitHouseBtn">
                                        <i class="material-icons left">add_shopping_cart</i>Add to cart</a>
                                </div>
                            </form>
                        </div>
                    </span>
                </div>
            </li>
            <li>
                <div class="collapsible-header" id="orangeCollapsible"><i
                        class="material-icons collapseHeadText placeOrderCollapsible">shopping_cart</i>
                    <div class="collapseHeadText placeOrderCollapsible">Cart</div>
                </div>
                <div class="collapsible-body"><span>
                        <h1 class="center-align placeOrderText">Cart</h1>
                        <div class="placeOrderContainer center-align">
                            <div class="cartDiv">
                            </div>
                            <div class="noItemsInCart">
                                <h4>No items currently in cart...</h4>
                            </div>
                            <div class="checkoutButtonDiv hidden row">
                                <div class="totalDiv">
                                    <div class="col s12 l2 offset-l5">Total = </div>
                                    <div class="col s12 l2 total"></div>
                                </div>
                                <div class="col s12 l3">
                                    <a class="waves-effect waves-light btn" id="checkoutBtn">
                                        <i class="material-icons left">shopping_cart</i>Checkout</a>
                                </div>
                            </div>
                            <div class="orderUserInfo hidden">
                                <form>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="first_name" type="text" class="validate">
                                            <label for="first_name" class="orderInputLabels">First Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" type="text" class="validate">
                                            <label for="last_name" class="orderInputLabels">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="icon_telephone" type="tel" class="validate">
                                            <label for="icon_telephone" class="orderInputLabels">Telephone</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" class="validate">
                                            <label for="email" class="orderInputLabels">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="city" type="text" class="validate">
                                            <label for="city" class="orderInputLabels">City</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="state" type="text" class="validate">
                                            <label for="state" class="orderInputLabels">State</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="address" type="text" class="validate">
                                            <label for="address" class="orderInputLabels">Shipping
                                                address</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="zip_code" type="tel" class="validate">
                                            <label for="zip_code" class="orderInputLabels">Zip code</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <a class="col s12 waves-effect waves-light btn" id="submitOrderBtn">
                                            <i class="material-icons left">add_circle_outline</i>SUBMIT ORDER</a>
                                    </div>
                                </form>
                            </div>
                            <div class="plusTaxAndShipping hidden">
                                <h3 class="orange-text">Is this correct?</h3>
                                <h5>Name: <div class="orderName orange-text"></div>
                                </h5>
                                <h5>Email: <div class="orderEmail orange-text"></div>
                                </h5>
                                <div class="finalizeItems">
                                    <div class="row">
                                        <div class="col s6 l6">
                                            <h5>Items:</h5>
                                        </div>
                                        <div class="col s6 l6">
                                            <h5>Quantity:</h5>
                                        </div>
                                    </div>
                                    <div class="appendHere"></div>
                                </div>
                                <div class="totalPlusDiv">
                                    <div class="row">
                                        <div class="col s6 l6">
                                            <h5>Total</h5>
                                            <h5>Shipping</h5>
                                            <h5>Tax</h5>
                                        </div>
                                        <div class="col s6 l6">
                                            <h6 class="total"></h6>
                                            <h6 class="shippingTotal">$5.00</h6>
                                            <h6 class="taxTotal"></h6>
                                        </div>
                                    </div>

                                    <hr width="50%">
                                    <h4>TOTAL =<div class="fullTotal"></div>
                                    </h4>
                                </div>
                                <h4>Estimated arrival date:<div class="deliverDate orange-text"></div>
                                </h4>
                                <h4>Delivered to:
                                    <div class="deliverState orange-text"></div>
                                    <hr width="50%">
                                    <div class="deliverAddress orange-text"></div>
                                </h4>

                                <div class="row">
                                    <div class="col s12 l6">
                                        <a class="waves-effect waves-light btn red darken-2" id="cancelBtn">
                                            <i class="material-icons left">clear</i>Cancel
                                        </a>
                                    </div>
                                    <div class="col s12 l6">
                                        <a class="waves-effect waves-light btn blue darken-2" id="payWithPaypal">
                                            <i class="material-icons left">done</i>Pay with Paypal
                                        </a>
                                        {{!-- <form action="/pay" method="POST">
                                            <a class="waves-effect waves-light btn blue lighten-2" id="confirmBtn">
                                                <input type="submit" value='Pay with Paypal'>
                                                <i class="material-icons left">done</i>
                                                </input>
                                            </a>
                                        </form> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="parallax-container valign-wrapper center-align">
        <div class="center-align" id="contactBox">
            <h3>For all inquiries and issues:</h3>
            <div class="row">
                <div class="col s12 l12">
                    <h5>Contact Us: </h5><a href="/contact"><i class="material-icons contactBoxIco">email</i></a>
                    <h5>Report an issue: </h5><a href="/reportIssue"><i
                            class="material-icons contactBoxIco">report_problem</i></a>
                </div>
            </div>
        </div>
        <div class="parallax"><img class="parallaxImg" src="/images/static/bottom_parallax.jpg">
        </div>
    </div>
</div>