/* ===== BACKGROUND AND FOOTER SETTINGS ===== */
body {
    /* background: url(../images/static/prism.png); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex:1 0 auto
}

/* ============ NAVBAR ============= */
/* .brand-logo{
    font-family: 'Playball', cursive;
    font-size: 25px !important;
}
.brand-logo:hover{
    color: gold !important
} */
.nav-wrapper{
    box-shadow: none!important;
}
.navlink{
    font-family: 'Alegreya Sans', sans-serif;
}
#slide-out{
    background: url(../images/static/prism.png)
}
.user-view{
    height: 150px
}
.sidenavLink{
    font-size: 20px !important;
    text-align: center;
}
.sidenavItem{
    margin: 20px auto
}


/* ========= PARALLAX IMGS ========== */
.parallax-container{
    height: 600px !important
}
.parallaxImg{
    max-width: 350%;
}

/* ============ FOOTER ============== */
#footer{
    position:fixed;bottom:0;left:0;width:100%;
}
.footText{
    font-family: 'Alegreya Sans', sans-serif;
}



/* ========= MEDIA QUERIES ========== */

/* ====== smaller than 570px (iPhone5) ====== */
@media only screen and (max-width: 570px) {
    .parallax-container{
        height: 500px;
    }
}
/* ========== larger than 800px ============= */
@media only screen and (min-width: 800px) {
    .parallax-container{
        height: 650px;
    }
    .parallaxImg{
        max-width: 150%;
    }
}