.bg {
    background: url("../images/static/reportIssue.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px auto 50px auto
}
main {
    flex:1 0 auto
}
.pageContainer{
    position: relative;
    height: 100%;
}
.row{
    margin: 0px !important;
}



/* === LOGO === */
.logoDiv{
    height: 300px
}
#LogoIssue{
    font-family: 'Righteous', cursive;
    color: #bccfd9;
    -webkit-text-stroke: 3px #181212;
    margin: 0px auto;
}
#LogoIssue:hover{
    color: #181212 !important;
    -webkit-text-stroke: 3px #ee6036;
}


/* === CONTACT FORMS === */
#issueBox{
    width: 90%;
    text-align: center;
    background: gray;
    border: white 1px solid;
    border-radius: 25px;
    margin: auto auto 50px auto;
    padding: 10px
}
#issueHeader{
    margin: 20px auto 0px auto;
    color: #bfd1db;
    font-family: 'Merienda', cursive;
}
.prefix{
    color: #bccfd9;
}
.prefix:hover{
    color: white;
}
.active{
    color: white !important
}
input, #messageBox{
    text-align: center !important;
    color: white;
    font-family: 'Alegreya Sans', cursive !important;
}
label{
    font-size: 20px !important;
    text-align: center !important
}
.uploadScreenshotText{
    color: white;
    font-family: 'Merienda', cursive;
}
#uploadScreenshotBtn{
    background: #bccfd9;
    border: white 1px solid;
}
#uploadScreenshotBtn:hover{
    background: #ffffff;
    border: #ee6036 1px solid;
    color: #ee6036;
}
#submitIssueBtn{
    background: #bfd1db;
    border: white 1px solid;
    color: white;
}
#submitIssueBtn:hover{
    background: #ffffff;
    border: #ee6036 1px solid;
    color: #ee6036;
}



/* === EXTRAS SECTION === */
.extrasBox{
    background: gray;
    width: fit-content;
    padding: 15px;
    border: white 1px solid;
    border-radius: 25px;
    text-align: center;
    margin: auto auto 150px auto;
    color: white
}
.extrasIco{
    font-size: 40px !important;
    background: #ee6036;
    border: #bccfd9 1px solid;
    border-radius: 25px;
    padding: 5px;
    color: #bccfd9
}
.extrasIco:hover{
    background: #bccfd9;
    border: #ee6036 1px solid;
    color: #ee6036;
}
.loadingGif{
    width: 70%;
    border-radius: 50%;
}



/* === RETURN HOME === */
.returnHomeBox{
    margin: -20px auto 20px auto;
}
.returnHome{
    font-family: 'Merienda', cursive;
    padding: 0px 10px;
    color: #bccfd9;
}
.returnHomeIco{
    margin: 0px 10px;
    font-size: 30px !important;

}



/* === HIDDEN === */
.hidden{
    display: none
}


/* ========== larger than 800px ============= */
@media only screen and (min-width: 800px) {
    #contactBox{
        width: 60%
    }
}